In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
data = pd.read_csv("dataset.csv")

In [5]:
data

     4    5    3  Unnamed: 3    2    1
0  5.0  3.0  3.0           2  2.0  NaN
1  1.0  NaN  NaN           4  5.0  4.0
2  NaN  2.0  1.0           4  NaN  3.0
3  1.0  NaN  2.0           3  3.0  4.0